*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
--Pale-Violet: hsl(276, 100%, 81%);
--Moderate-Violet: hsl(276, 55%, 52%);
--Desaturated-Dark-Violet: hsl(271, 15%, 43%);
--Grayish-Blue: hsl(206, 6%, 79%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Dark-Grayish-Violet: hsl(270, 7%, 64%);



/* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);

/* Secondary */

--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet: hsl(270, 20%, 96%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
    background-color: var(--White);
}
.left-purple-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 28em;
    height: 700px;
    background-image: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
    border-radius: 0px 0px 60em 30em; 
    z-index: -1; 
}

/* typography */
h2, p {
    font-family: 'Rubik', sans-serif;
}
h2 {
    font-size: 0.9rem;
}

.phone-illustration {
    animation-name: dropdown;
    animation-duration: 4s;
}
/* main body of the phone */
.phone-illustration {
    width: 18em;
    position: absolute;
    left: 22.8em;
    top: 7em;
    height: 570px;
    border: 12px solid white;
    border-radius: 2em;
    background-color: hsl(270, 20%, 96%);
    box-shadow: 0px 10px 15px 0px silver; 
    animation-name: rainbow;
    animation-duration: 3s;
     
}

@keyframes rainbow {
    0% {
      top: 0px;
    }  
    100% {
      top: 7em;

    }
  }


/* top header styling */
.chat-top-bg {
    background-image: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    border-radius: 1em 1em 0.5em 0.5em;
    width: 263px;
    color: white;
    box-shadow: 0px 2px 0px 0px rgb(235, 235, 235);
}
.in-chat-navigation {
    padding: 0.5em 0px;
    display: flex;
    align-items: center; 
}
.user-avatar{
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
}
#toggle-icon1 {
    color: white;
    opacity: 0.6;
}
.user-name
{
    padding-left: 0.5em;
}
#toggle-icon2 {
    padding: 0px 0px 0px 4em;
    opacity: 0.6;
}
.top-white-space{
    width: 50%;
    height: 20px;
    background-color: white;
    margin-inline: 70px;
    border-radius: 0px 0px 20px 20px ;
}

/* chat texts*/


.message-sent{
    width: 55%;
    font-weight: 600;
    padding: 0.5em;
    margin: 0.8em;
    font-size: 0.7rem;
    text-align: left;
    color: hsl(276, 55%, 52%);
    background-color: rgb(230, 230, 230);
    border-radius: 10px 10px 10px 0px;
}

.dog-images {
    display: flex;
    justify-content: right;
    padding: 0.3em 0px;
    margin-right: 1%;}
    
   
 .dog{
     width: 50px;
     padding: 0.2em;
     border-radius: 10px;
 }
 .message-reply{
     margin-left: 38%;
     text-align: left;
     margin-top: 3%;
     margin-right: 2%;
     padding: 0.5em;
     width:auto;
     background-color: white;
     color: rgb(34, 26, 26);
     border-radius: 10px 10px 0px 10px;
     font-weight: 600;
     font-size: 0.7rem
 }

.check-box {
    width: 70%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0.5em 0.5em 0px;
    color: white;
    margin: 0.7em;
}
.price-check {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
}
.circle{
    border-radius: 50%;
    margin: 0px 0.5em;
    width: 12px;
    height: 12px;
    border: 1px solid white;
}
.text-field{
    background-color: white;
    color: --;
    border-radius: 20px;
    display: flex;
    margin-top: 1.5em;
    margin-inline: 1em;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}

/* app description */
.app-description {
    width: 27em;
    position: absolute;
    left: 50em;
    top: 23em;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif; 
    font-weight: 600;
    color: hsl(270, 7%, 64%);
}
.app-description h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color:  hsl(271, 36%, 24%);
}
.right-background-faded{
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 22em;
    height: 500px;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 40em 0px 0px 0px;
    z-index: -1;
    opacity: 0.1;
}
@media screen and (max-width: 1200px) {
    .right-background-faded {
        display: none;
    }
}
@media screen and (max-width: 720px) {
   
    
    img{
        max-width: 100%;
    }
    .phone-illustration{
        left: 3em;
        margin-inline: 1em;
    }
   
    .left-purple-bg {
        width: 13em;
        height: 600px;
        border-radius: 0px 0px 60em 0px;
    }
    .app-description{
        position: absolute;
        width: 20em;
        top: 47em;
        left: 2em;
        right: 1.5em;
        margin-inline: 1em;
        text-align: center;
    }
 
    
}
